@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

@model PostCreateModel;

<div class="content-page-box-area">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <aside class="widget-area">
                        <div class="widget widget-view-profile">
                            <div class="profile-box d-flex justify-content-between align-items-center">
                                <a href="my-profile.html"><img src="~/assets/images/user/user-1.jpg" alt="image"></a>
                                <div class="text ms-2">
                                    <h3><a href="my-profile.html">Matthew Turner</a></h3>
                                    <span>Washington</span>
                                </div>
                            </div>
                            <ul class="profile-statistics">
                                <li>
                                    <a href="#">
                                        <span class="item-number">59862</span>
                                        <span class="item-text">Likes</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="item-number">8591</span>
                                        <span class="item-text">Following</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="item-number">784514</span>
                                        <span class="item-text">Followers</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="profile-likes">
                                <span><i class="flaticon-heart-shape-outline"></i> New Likes This Week</span>

                                <ul>
                                    <li>
                                <a href="#"><img src="~/assets/images/user/user-22.jpg" alt="image"></a>
                                    </li>
                                    <li>
                                <a href="#"><img src="~/assets/images/user/user-23.jpg" alt="image"></a>
                                    </li>
                                    <li>
                                <a href="#"><img src="~/assets/images/user/user-24.jpg" alt="image"></a>
                                    </li>
                                    <li>
                                <a href="#"><img src="~/assets/images/user/user-25.jpg" alt="image"></a>
                                    </li>
                                    <li>
                                <a href="#"><img src="~/assets/images/user/user-26.jpg" alt="image"></a>
                                    </li>
                                    <li>
                                <a href="#"><img src="~/assets/images/user/user-27.jpg" alt="image"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="profile-btn">
                                <a href="my-profile.html" class="default-btn">View Profile</a>
                            </div>
                        </div>
                     
                        <div class="widget widget-watch-video">
                            <h3 class="widget-title">Watch Video</h3>

                            <div class="watch-video-slides owl-carousel owl-theme">
                                <div class="video-item">
                            <img src="~/assets/images/watch-video/video-1.jpg" alt="image">

                                    <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                        <i class="ri-play-fill"></i>
                                    </a>
                                </div>
                                <div class="video-item">
                            <img src="~/assets/images/watch-video/video-2.jpg" alt="image">

                                    <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                        <i class="ri-play-fill"></i>
                                    </a>
                                </div>
                                <div class="video-item">
                            <img src="~/assets/images/watch-video/video-3.jpg" alt="image">

                                    <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                        <i class="ri-play-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                    </aside>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="news-feed-area">
                        <div class="news-feed news-feed-form">
                            <h3 class="news-feed-title">Create New Post</h3>

                    <form asp-controller="Home" asp-action="CreatePost" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for=@Model.Message></label>
                            <textarea asp-for=@Model.Message class="form-control" placeholder="Write something here..." rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <p style="color: black; padding-top: 20px;">Photo Url</p>
                            <label asp-for=@Model.Photo style="position: relative; bottom: 10px; padding-bottom: 10px;" >
                               @(Model.Photo?.FileName ?? "Image Not Selected")
                            </label>
                            <input asp-for=@Model.Photo type="file" class="form-control-file" style="display: none;" onchange="updateLabel(this)">
                        </div>

                        <div class="form-group">
                            <label asp-for=@Model.VideoUrl>Video URL</label>
                            <input asp-for=@Model.VideoUrl type="url" class="form-control" placeholder="Enter video URL (YouTube, etc.)">
                        </div>

                        <div class="form-group">
                            <label asp-for=@Model.Tags>Tag Friends</label>
                            <input asp-for=@Model.Tags type="text" class="form-control" placeholder="Enter tags, separated by commas">
                        </div>


                      
                        <ul class="button-group d-flex justify-content-between align-items-center">
                            <li class="photo-btn">
                                <button type="button" onclick="document.getElementById('Photo').click();"><i class="flaticon-gallery"></i> Photo</button>
                            </li>
                            <li class="video-btn">
                                <button type="button" onclick="document.getElementById('VideoUrl').focus();"><i class="flaticon-video"></i> Video</button>
                            </li>
                            <li class="tag-btn">
                                <button type="button" onclick="document.getElementById('Tags').focus();"><i class="flaticon-tag"></i> Tag Friends</button>
                            </li>
                            <li class="post-btn">
                                <button type="submit" class="btn btn-primary">Post</button>
                            </li>
                        </ul>
                    </form>


                        </div>

                      <ul id="postsUl" style="list-style: none; ">
 
                      </ul>

                        <div class="load-more-posts-btn">
                            <a href="#"><i class="flaticon-loading"></i> Load More Posts</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <aside class="widget-area">
                       
                       
                        <div class="widget widget-explore-events">
                            <h3 class="widget-title">Explore Events</h3>

                            <article class="item">
                        <a href="#"><img src="~/assets/images/explore-events/explore-1.jpg" alt="image"></a>
                            </article>
                            <article class="item">
                        <a href="#"><img src="~/assets/images/explore-events/explore-2.jpg" alt="image"></a>
                            </article>
                        </div>
                     
                    </aside>
                </div>
            </div>
        </div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
