@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div class="container mt-5">
    <p id="otherUserMessageId" style="display: none;"></p>
    <div class="row">
        <div class="col-md-4 border-right">
            <h5 class="text-center">Friends</h5>
            <div class="input-group mb-3">
                <p id="friendSearchMseeageInputValue" style="display: none;"></p>
                <input id="friendSearchMseeageInput" type="text" class="form-control" placeholder="Search Friend.." aria-label="Search Friends">
                <div class="input-group-append">
                    <button onclick="friendSearchMseeageEvent(event)" class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
            <ul class="list-group" id="friendsMessagesList">
               
            </ul>
        </div>
        <div class="col-md-8">
            <h3 id="h1OtherUserMessageId"></h3>
            <p style="display: none;" id="pOtherUserMessageProfileImage"></p>
            <p style="display: none;" id="pOtherUserMessageUserName"></p>
           
            <div class="chat-box border rounded p-3 bg-light">
                <div id="userFriendMessageDiv" class="border rounded p-3" style="height: 500px; overflow-y: auto;">

               </div>
                   
                <div class="input-group mt-3 mb-2">
                    <input id="addMessageInput" type="text" class="form-control" placeholder="Reade Message..." aria-label="Message">
                    <div class="input-group-append">
                        <button onclick="addMessageEvent(event)" class="btn btn-primary" type="button">Send</button>
                    </div>
                </div>
                <p style="display: none; color: red;" id="addMessageErroreMessageP">Select a person and do not leave the text blank</p>
            </div>
        </div>
    </div>
</div>

<style>
    .menu-profile {
        display: flex;
        align-items: center;
        position: relative;
    }

    .status-online {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid #fff;
    }

    .message-content {
        max-width: 70%;
    }
</style>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
