@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}


<div class="content-page-box-area">
            <div id="mainProfileDiv" class="my-profile-inner-box">
               
            </div>




            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <aside class="widget-area">
                               
                               
                        
                                <div class="widget widget-watch-video">
                                    <h3 class="widget-title">Watch Video</h3>

                                    <div class="watch-video-slides owl-carousel owl-theme">
                                        <div class="video-item">
                                    <img src="~/assets/images/watch-video/video-1.jpg" alt="image">

                                            <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                                <i class="ri-play-fill"></i>
                                            </a>
                                        </div>
                                        <div class="video-item">
                                    <img src="~/assets/images/watch-video/video-2.jpg" alt="image">

                                            <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                                <i class="ri-play-fill"></i>
                                            </a>
                                        </div>
                                        <div class="video-item">
                                            <img src="~/assets/images/watch-video/video-3.jpg" alt="image">

                                            <a href="https://www.youtube.com/watch?v=ODfy2YIKS1M" class="video-btn popup-youtube">
                                                <i class="ri-play-fill"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div style="list-style: none;" id="profilePostsDiv" class="news-feed-area">
                           

                              

                             

                            
                            </div>
                        </div>

                       
                    </div>
                </div>

               
            </div>
        </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>