@{
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}

<div class="content-page-box-area">
            <div class="page-banner-box">
                <h3>Account Setting</h3>
            </div>

            <div class="account-setting-list-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="profile-information-tab" data-bs-toggle="tab" href="#profile-information" role="tab" aria-controls="profile-information">Profile Information</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="account-tab" data-bs-toggle="tab" href="#account" role="tab" aria-controls="account">Account</a>
                    </li>

               
                </ul>
            </div>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile-information" role="tabpanel">
          <form class="account-setting-form">
    <h3>Profile Information</h3>

    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="FirstNameSettingValue">First Name</label>
                <input type="text" class="form-control" placeholder="First name" id="FirstNameSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="LastNameSettingValue">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" id="LastNameSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="EmailSettingValue">Email</label>
                <input type="email" class="form-control" placeholder="Email" id="EmailSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="BackupEmailSettingValue">Backup Email</label>
                <input type="email" class="form-control" placeholder="Backup email" id="BackupEmailSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="DateOfBirthSettingValue">Date of Birth</label>
                <input type="text" class="form-control" placeholder="Date of birth" id="DateOfBirthSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="PhoneNoSettingValue">Phone No:</label>
                <input type="text" class="form-control" placeholder="Phone no" id="PhoneNoSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="OccupationSettingValue">Occupation</label>
                <select class="form-select" id="OccupationSettingValue">
                    <option selected>Occupation</option>
                    <option value="2">Software Developer</option>
                    <option value="3">Biomedical Engineer</option>
                    <option value="4">Civil Engineer</option>
                    <option value="5">General Practitioner</option>
                    <option value="6">Structural Engineer</option>
                    <option value="7">Pharmacy Technician</option>
                    <option value="8">Mechanical Engineer</option>
                    <option value="9">Petroleum Engineer</option>
                    <option value="10">Technician</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="GenderSettingValue">Gender</label>
                <select class="form-select" id="GenderSettingValue">
                    <option selected>Gender</option>
                    <option value="2">Male</option>
                    <option value="3">Female</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="RelationStatusSettingValue">Relation Status</label>
                <select class="form-select" id="RelationStatusSettingValue">
                    <option selected>Relation Status</option>
                    <option value="2">Married</option>
                    <option value="3">Unmarried</option>
                    <option value="4">Single</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="BloodGroupSettingValue">Blood Group</label>
                <select class="form-select" id="BloodGroupSettingValue">
                    <option selected>Blood Group</option>
                    <option value="2">A+</option>
                    <option value="3">A-</option>
                    <option value="4">B+</option>
                    <option value="5">B-</option>
                    <option value="6">O+</option>
                    <option value="7">O-</option>
                    <option value="8">AB+</option>
                    <option value="9">AB-</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="WebsiteSettingValue">Website</label>
                <input type="text" class="form-control" placeholder="Website" id="WebsiteSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="LanguageSettingValue">Language</label>
                <select class="form-select" id="LanguageSettingValue">
                    <option selected>Language</option>
                    <option value="2">English</option>
                    <option value="3">Portuguese</option>
                    <option value="4">Japanese</option>
                    <option value="5">Russian</option>
                    <option value="6">Javanese</option>
                    <option value="7">Gujarati</option>
                    <option value="8">Yoruba</option>
                    <option value="9">Polish</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="AddressSettingValue">Address</label>
                <input type="text" class="form-control" placeholder="Address" id="AddressSettingValue">
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="CitySettingValue">City</label>
                <select class="form-select" id="CitySettingValue">
                    <option selected>City</option>
                    <option value="2">Canada</option>
                    <option value="3">Germany</option>
                    <option value="4">Switzerland</option>
                    <option value="5">Australia</option>
                    <option value="6">United States</option>
                    <option value="7">New Zealand</option>
                    <option value="8">United Kingdom</option>
                    <option value="9">Netherlands</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="StateSettingValue">State</label>
                <select class="form-select" id="StateSettingValue">
                    <option selected>State</option>
                    <option value="2">Canada</option>
                    <option value="3">Germany</option>
                    <option value="4">Switzerland</option>
                    <option value="5">Australia</option>
                    <option value="6">United States</option>
                    <option value="7">New Zealand</option>
                    <option value="8">United Kingdom</option>
                    <option value="9">Netherlands</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="CountrySettingValue">Country</label>
                <select class="form-select" id="CountrySettingValue">
                    <option selected>Country</option>
                    <option value="2">Canada</option>
                    <option value="3">Germany</option>
                    <option value="4">Switzerland</option>
                    <option value="5">Australia</option>
                    <option value="6">United States</option>
                    <option value="7">New Zealand</option>
                    <option value="8">United Kingdom</option>
                    <option value="9">Netherlands</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <button onclick="updateSettingAllEvent(event)" type="button" class="default-btn">Save</button>
        </div>
    </div>
</form>


                </div>

                <div class="tab-pane fade" id="account" role="tabpanel">
                    <form class="account-setting-form">
                <h3>Account Information</h3>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" id="UserNameSettingInput" placeholder="User name">
                            <div class="text-danger" id="UserNameError" style="display:none;"></div> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Account Email</label>
                            <input type="email" class="form-control" id="AccountEmailSettingInput" placeholder="Account email">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="number" class="form-control" id="PhoneNumberSettingInput" placeholder="Phone number">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-select" id="CountryMainSettingInput">
                                <option selected="1">Country</option>
                                <option value="2">Canada</option>
                                <option value="3">Germany</option>
                                <option value="4">Switzerland</option>
                                <option value="5">Australia</option>
                                <option value="6">United States</option>
                                <option value="7">New Zealand</option>
                                <option value="8">United Kingdom</option>
                                <option value="9">Netherlands</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button onclick="updateSettingMainEvent(event)" type="button" class="default-btn">Save</button>
                    </div>
                </div>
            </form>



            <form class="account-setting-form">
                <h3>Change Password</h3>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="text" class="form-control" placeholder="Current password" id="CurrentPasswordSettingInput">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="text" class="form-control" placeholder="New password" id="NewPasswordSettingInput">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="text" class="form-control" placeholder="Confirm password" id="ConfirmPasswordSettingInput">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <button onclick="updateSettingPasswordEvent(event)" type="button" class="default-btn">Save Change</button>
                    </div>
                </div>
            </form>

                </div>

               
            </div>
        </div>
    
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>